*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
   
}
.container{
   
    max-width: 1300px;
    width: 100%;
}
.container-header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-gap: 64px;

}
.nav-link{
   
    text-decoration: none;
    color: white;
}
.logo {
    font-size: 28.43px;
    font-weight: 600;
    line-height: 42.65px;
    color: #D9D9D9;
}
.button {
    background-color: #31BBFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
h1{
    font-size: 67.34px;
    font-weight: 600;
    line-height: 101.01px;
}

section{
    height: 100%;
    width: 100%;
}
.container-h-p{

   max-width: 595px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    color: white;   
}

p{

    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #CECECE;
}
header{

    height: 960px;

    padding-top: 2rem;
    background-image: url(tiger-bg.png);
    background-repeat: no-repeat;
    background-size: cover;


}
.header-2{
    margin-top: 6rem;
}
hr{
    color: gray;
}
.email{
    margin-top: 5rem;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.call {
    height: 1.1rem;
    margin-right: 5px;
}

.call-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #31BBFF;
    color: #31BBFF;
    margin-left: 1rem;
}
.chat-link{
    text-decoration: none;
    color: #31BBFF;
    font-size: 16px;
    font-weight: 600;
}
.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    
}
.signin-button{
    background-color: #31BBFF;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 28px;
    font-size: 16px;
    font-weight: 600;
}



.main-section-1-heading-para {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 32px;
    border-bottom: 1px solid #B2B2B2;
}
.main-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}
.main-section-1-h2{
    font-size: 37.9px;
    font-weight: 600;
    line-height: 56.85px;
}
.main-section-1-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #404040;
}

.conservation-method {
    position: relative;
}
.conservation-methods h3{

    font-size: 28.43px;
    font-weight: 600;
    line-height: 42.65px;

    position: absolute;
    bottom: 24px;
    left: 24px;
    color: white;


}
.conservation-methods{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin-top: 72px;
    list-style: none;
    padding-bottom: 10rem;
}
.conservation-methods img{

    width: 453px;
    height: 599px;
}
footer{
    background-color: #032700;

    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 139px;
    
}
.footer-log {
    font-size: 28.43px;
    font-weight: 600;
    line-height: 42.65px;
    margin-bottom: 34px;
    color: #D9D9D9;    
}
.footer-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #B2B2B2;

}
.para-and-social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.footer-develop{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #404040;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  .fa-facebook {
    background: grey;
    color: white;
  }
  .fa-instagram {
    background: grey;
    color: white;
  }
  .fa-google {
    background: grey;
    color: white;
  }  
  .social-medias {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-self: flex-end;
}